#wordHighlight {
    position: absolute;
    /* visibility: false; */
    border: 3px solid rgb(2, 101, 230);
    background-color: red;
    box-shadow: 0 0 4px 0 #008;
    padding: 2px;
    cursor: pointer;
    /*margin: -4px 0 0 -4px;*/
    pointer-events: none; 
}