/* You can add global styles to this file, and also import other style files */
#popuphover  {

    transition: height 0.3s;
  }
  #popup:hover {
    background-color: rgba(0,0,0,0.1);
    cursor:pointer;
  }
  
  #wordHighlight {
    position: absolute;
    visibility: false;
    background-color:black;
  opacity: 0.3;
  border: 3px solid rgb(75, 76, 77);
    box-shadow: 0 0 4px 0 #008;
    padding: 2px;
    cursor: pointer;
    /*margin: -4px 0 0 -4px;*/
    pointer-events: none; }